<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} | Frodo</title>
<link rel="icon" type="image/ico" href="/static/favicon.ico">
<!-- Bootstrap -->
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap-responsive.min.css" rel="stylesheet">
<style type="text/css">
[class^="icon-"] { background-image: url("/static/glyphicons-halflings.png"); } 
[class*="icon-white"] { background-image: url("/static/glyphicons-halflings-white.png"); } 
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--meta http-equiv="refresh" content="1800" -->
<script language="javascript" type="text/javascript" >
<!--
function refresh() {
	location.reload(true);
}
var timer;
function timedRefresh() {
	timer = setTimeout("refresh();",900000);
}
// -->
</script>
{% block head %}{% endblock %}
</head>
<body onload="timedRefresh();">

<div class="row-fluid">
	<div class="span10 offset1">
		<table>
			<tr>
				<td>
					<a href="/"><img class="img-rounded" src="/static/Lego_LOTR_logo_150x75.png" alt="Frodo" /></a>
				</td>
				<td>
					<h1><a href="/">Frodo</a></h1>
					<h3>{{ time }}<a href="/">
				</td>
			</tr>
			<tr>
				<td>
					<div class="btn-toolbar">
						<div class="btn-group">
							<a class="btn btn-large" href="javascript:refresh()">
								<i class="icon-refresh"></i>
							</a>
							<a class="btn btn-large" href="javascript:timedRefresh();"><i class="icon-play"></i></a>
							<a class="btn btn-large" href="javascript:clearTimeout(timer);"><i class="icon-pause"></i></a>
							<a class="btn btn-large" href="#"><i class="icon-off"></i></a>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
 
 {% block body %}{% endblock %}

 <div class="row-fluid">
	<div class="span10 offset1" align="right">
	</br></br>
	<a href="#">Back to top</a>
	</br></br>
	</div>
	<div class="span10 offset1" align="middle">
	<small>
	Icons from <a href="http://glyphicons.com/">Glyphicons Free</a>, licensed under CC BY 3.0.
	</small>
	</div>
 </div>
 
<script src="/static/bootstrap.min.js"></script>
</body>
</html>