<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} | Frodo</title>
<link rel="icon" type="image/ico" href="/static/favicon.ico">
<!-- Bootstrap -->
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap-responsive.min.css" rel="stylesheet">
<style type="text/css">
[class^="icon-"] { background-image: url("/static/glyphicons-halflings.png"); } 
[class*="icon-white"] { background-image: url("/static/glyphicons-halflings-white.png"); } 
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block head %}{% endblock %}
</head>
<body>

<div class="row-fluid">
	<div class="span11 offset1">
		<table>
			<tr>
				<td>
					<a href="/"><img class="img-rounded" src="/static/Lego_LOTR_logo_150x75.png" alt="Frodo" /></a>
				</td>
				<td>
					<h1><a href="/">Frodo</a></h1>
					<h3>{{ time }}</h3>
				</td>
			</tr>
		</table>
	</div>
</div>
 
 {% block body %}{% endblock %}

 <div class="row-fluid">
	<div class="span3 offset1">
		<br><br>
		<br><br>
		<br><br>
		<small>
		© 2012 Frodo. Brought to you by <a href="http://www.yoavram.com" target="_blank">Yoav Ram</a>,
		licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
		<br>
		Front-end built with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>, 
		icons from <a href="http://glyphicons.com/">Glyphicons Free</a>.
		<br>
		Back-end built with <a href="http://www.python.org/" target="_blank">Python 2.7</a>, 
		<a href="http://flask.pocoo.org/" target="_blank">Flask</a>, and 
		<a href="http://www.lag.net/paramiko/" target="_blank">Paramiko</a>.
		<br>
		<br>
		</small>
	</div>
	<div class="span2 offset5" align="right">
		<br>
		<a href="#">Back to top</a>
		<br>
		<br>
	</div>
 </div>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>