{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<!-- based on http://www.countableset.ch/blog/blog/2012/01/29/twitter-bootstrap-login-page/ -->
<div class="row-fluid">
	<div class="span6 offset4">
		<h3>Login</h3>
		<div class="login-form">
			<form action="" method=post class="form-inline">
				<fieldset>					
						<input type="text" name="username" placeholder="username">
						<input type="password" name="password" placeholder="password">
						<button class="btn btn-primary" type="submit">Sign in</button>				
				</fieldset>
			</form>
		</div>
	</div>
 </div> 

{% endblock %}