{% extends "layout.html" %}
{% block title %}
	{{ summary.total }}
{% endblock %}
{% block head %}
<script language="javascript" type="text/javascript" >
<!--
var timer;

function refresh() {
	location.reload(true);
}

function timedRefresh() {
	timer = setTimeout("refresh();",900000);
}

function clickedRefresh() {
	clearAllBtns();
	activateBtn('refresh');
	refresh();
}

function clickedPlay() {
	clearAllBtns();
	activateBtn('play');
	timedRefresh();
}

function clickedPause() {
	clearAllBtns();
	activateBtn('pause');
	clearTimeout(timer);
}

function clickedOff() {
	clearAllBtns();
	activateBtn('off');
}

function clearAllBtns() {
	clearBtn('refresh'); 
	clearBtn('play');
	clearBtn('pause'); 
	clearBtn('off');
}
function clearBtn(btnName) {
	a = $('#'+btnName+"Anchor");
	a.removeClass().addClass("btn btn-large");
	i = $('#'+btnName+"Icon");
	clz = i.attr("class").split(' ')[0];
	i.removeClass().addClass(clz);
}

function activateBtn(btnName) {
	a = $('#'+btnName+"Anchor");
	a.removeClass().addClass("btn btn-large btn-info");
	i = $('#'+btnName+"Icon");
	clz = i.attr("class").split(' ')[0];
	i.removeClass().addClass(clz+" icon-white");
}

$(document).ready(function () {
	$("[rel=tooltip]").tooltip();
	timedRefresh();
});

// -->
</script>
{% endblock %}
{% block body %}

<div class="row-fluid">
	<div class="span2 offset1">
		<div class="btn-toolbar">
			<div id='control-toolbal' class="btn-group">
				<a id="refreshAnchor" class="btn btn-large" href="javascript:clickedRefresh()">
					<i id="refreshIcon" class="icon-refresh" rel="tooltip" title="refresh"></i>
				</a>
				<a id="playAnchor" class="btn btn-large btn-info" href="javascript:clickedPlay();">
					<i id="playIcon" class="icon-play icon-white" rel="tooltip" title="start refresh loop"></i>
				</a>
				<a id="pauseAnchor" class="btn btn-large" href="javascript:clickedPause()">
					<i id="pauseIcon" class="icon-pause" rel="tooltip" title="stop refresh loop"></i>
				</a>
				<a id="qstatJson" class="btn btn-large" href="/qstat/json" target="_blank">
					<i id="qstatJsonIcon" class="icon-list-alt" rel="tooltip" title="full details in JSON"></i>
				</a>
				<a id="offAnchor" class="btn btn-large" href="/logout">
					<i id="offIcon" class="icon-off" rel="tooltip" title="logout"></i>
				</a>				
			</div>			
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span2 offset1">
		<div class="row-fluid">
			<h3>Summary</h3>
			<h4>User</h4>
			<p class="lead" align="center">{{ username }}</p>
			<h4>Jobs</h4>	
			<table class="table">
				<thead>
					<tr>
						<th>Running</th>
						<th>Waiting</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ summary.r }}</td>
						<td>{{ summary.qw }}</td>
						<td>{{ summary.total }}</td>
					</tr>
				 </tbody>
			</table>
			
		</div>
		<div class="row-fluid">
			{% if job %}
			<h3>
				<a id="jobJson" class="btn btn-small" href="/qstat/jobID/{{ job['job_number'] }}/json" target="_blank">
					<i id="jobJsonIcon" class="icon-list-alt" rel="tooltip" title="full details in JSON"></i>
				</a>
				Job Info 
			</h3>
			<table  class="table table-condensed">
				<tr><td><strong>group</strong></td><td>{{ job['group'] }}</td></tr>
				<tr><td><strong>queue</strong></td><td>{{ job['hard_queue_list'] }}</td></tr>
				<tr><td><strong>script</strong></td><td>{{ job['script_file'] }}</td></tr>
				{% for k,v in job['params'].items() %}
					<tr><td><strong>{{ k }}</strong></td><td>{{ v }}</td></tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>

	<div class="span8">
		<h3>Queue Status</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					{% for  field in fields %}
						<th>{{ field }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for record in records %}
				{% for field in record %}
					{% if loop.first %}
				<tr id="{{ field }}">			
					<td><a href="/qstat/jobID/{{ field }}">{{ field }}</a></td>
					{% else %}
					<td>{{ field }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 offset9" align="right">
		<br>
		<a href="#">Back to top</a>
		<br>
		<br>
	</div>
</div>
{% endblock %}