{% extends "layout.html" %}
{% block title %}Queue Status{% endblock %}
{% block head %}
<meta http-equiv="refresh" content="1800" >
{% endblock %}
{% block body %}
  <div class="tagline">
  <ul>
  <li>Running: {{ summary.r }}</li>
  <li>Waiting: &nbsp;{{summary.qw }}</li>
  <li>Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{summary.total }}</li>
  </ul>
  </div>
  <div>
  <h2>Queue Status:</h2>
  <table border=1 cellpadding="5" cellspacing="5" rules="cols" frame="box" width="80%">
	<tr>
	{% for  field in fields %}
		<th>{{ field }}</th>
		{% endfor %}
	</tr>
	{% for record in records %}
		{% for  field in record %}
			<td>{{ field }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
  </table>
  </div>
{% endblock %}